<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Light Svitcher</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="service center">
            <div class="title degraded">
                Light Svitcher
            </div>
            <div class="container">
                <div class="login">
                    <h1>Login</h1>

                    <p id="message"></p>
                    <div id="step-1">
                      <h2>Step 1: Enter Phone Number</h2>
                      <form id="login-form">
                        <input type="text" id="email" placeholder="Enter your email" required>
                        <input type="text" id="password" placeholder="Enter your password" required>
                        <button type="submit">SUBMIT</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>
